@{
    ViewData["Title"] = "This loan already exists";
}

<div class="text-center">
    <h1 class="display-4">You can't borrow this book</h1>
    <p> This book is already borrowed by this user.</p>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

