@{
    ViewData["Title"] = "Loan Created";
}

<div class="text-center">
    <h1 class="display-4">Operation successful</h1>
    <p>The loan has been created.</p>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

