@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the library system. You can create, read and update books. You can also borrow a book and check all loans.</p>
</div>
